.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg2);
  max-width: 50vw;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}