.Form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg2);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

.InputContainer{
  --c-text: rgb(252, 252, 252);
  --c-outline: var(--bg2);
  margin: 40px auto;
  display: grid;
  gap: 8px;
  position: relative;
  width: 200px;
}

.InputContainer input{
  text-align: left;
}

.Input{
  padding: 8px 12px;
  border-radius: 3.2px;
  border: 1px solid var(--c-border, currentColor);
  color: var(--c-text);
  font-size: 16px;
  width: 100%;
  background: var(--bg2);
}

.Input:not(:placeholder-shown) + .LabelInput{
  transform: translateY(-220%);
  opacity: 1;
}

.Input:is(:focus, :focus-visible){
  outline: 2px solid var(--c-outline);
  outline-offset: 2px;
}

.LabelInput{
  --timing: 250ms ease-in;
  position: absolute;
  left: 0;
  top: 50%;
  transition: transform var(--timing),
    opacity var(--timing);
  transform: translateY(-50%);
  opacity: 0;
  color: var(--c-text);
  cursor: text;
}
