.Header{
  width: 100%;
  background: var(--bg2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.Header > * {
  margin: 15px;
}

.Border{
  border: 2px solid white;
}

.Welcome{
  margin-right: 15px;
  text-decoration: none;
}
