.Title{
  margin: 20px;
}

.TextTarea{
  background: var(--bg2);
  text-align: left;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
  width: 75vw;
  height: 200px;
  resize: none;
}

.Texto{
  width: 50%;
  margin: 20px auto;
}