:root{
  
  /* Colores principales */
  --main: #A81212;

  /* Paleta de colores oscuro */
  --bg1: #1A1C2C;  /* Azul oscuro */
  --bg2: #181a1b;  /* Gris Oscuro */
  --bg3: #191B24;  /* Morado Oscuro */
  --bg4: #2C1A2C;  /*  */
  
  /* Colores de Error y demás */
  --verde: #228B22;
  --amarillo: #E6B0AA;
  --azul: #2196F3;

  /* Color y tamaño de los deliniados inferiores */

  --border-bottom: 2px solid var(--main);

}

@font-face {
  font-family: 'Monaspace Krypton Regular';
  src: url('./Assets/Fonts/MonaspaceKrypton-Regular.woff') format('woff');
}

*{
  color: #FFFFFF;
  font-family: 'Monaspace Krypton Regular';
  margin: 0;
  padding: 0;
  text-align: center;
}

body{
  background: var(--bg1);
}

#root{
  overflow: hidden;
}
