.Form{
  width: 45vw;
}
.Container{
  display: grid;
  grid-template-columns: auto auto;
}

.LabelInput{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Button{
  background: var(--main);
  border-radius: 3px;
  padding: 10px;
  width: 150px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  border: 1px solid transparent;
}
.Button:hover{
  background: var(--bg1);
  border: 1px solid white;
}
.ErrorMessage{
  color: red;
}

@media(max-width: 1200px){
  .Container{
    display: block;
  }
  .Form{
    position: static;
    transform: translate(0, 0);
    margin: 30px auto;
  }  
}
